@import '/src/assets/css/color';

.paragraph{
    margin: 24px 0 48px 0;
    p{
        line-height: 35px;
        color: rgba(255,255,255,.5);
        font-size: 1.25rem;

        b{
            color: white;
        }
    }
}

ul{
    li{
        color: white;
        list-style-type: none;
        &::before{
            content: '✓';
            margin-right: 10px;
            color: $oren;
        }
    }
}