.expertise{
    padding: 75px 0;
    &__content{
        display: grid;
        grid-template-columns: repeat(2, calc(50% - 20px));
        grid-gap: 20px;
    }
    .head{
        text-align: center;
        margin-bottom: 70px;

        .subheading{
            font-size: 14px;
        }
    }
}