@import '/src/assets/css/fonts';

.logo{
    text-transform: capitalize;
    color: white;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Yellowtail', cursive;
    letter-spacing: 2px;
}