@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

.logo{
    text-transform: capitalize;
    color: white;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Yellowtail', cursive;
    letter-spacing: 2px;
}