@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap');

$base-color: #152136;

*{
    font-family: 'Work Sans', sans-serif;
}

body{
    background-color: $base-color;
}

.layout{
    padding: 0 50px;
}

a{
    text-decoration: none;
}

figure, h1, h2, p{
    margin: 0;
}