@import '/src/assets/css/color';
@import '/src/assets/css/fonts';

*{
    font-family: 'Work Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: $base-color;
}

.layout{
    padding: 0 50px;
}

a{
    text-decoration: none;
}

figure, h1, h2, p, ul{
    margin: 0;
    padding: 0;
}