@import '/src/assets/css/color';
@import '/src/assets/css/fonts';

.nav{
    position: sticky;
    top: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 50px;
    transition: all 0.2 ease;
    
    &--scrolled{
        background-color: $header-color;
    }
}