$header-color: #131f33;;

.nav{
    position: sticky;
    top: 0;
    background-color: $header-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 50px;
}