@import '/src/assets/css/color';

.head{
  .subheading{
      color: $oren;
      font-size: 22px;
      font-weight: normal;
      margin-bottom: 8px;
      &::before{
        content: '—';
      }
  }
  .heading{
      color: white;
      font-size: 70px;
      line-height: 80px;
  }
}