$oren: #e1a34c;

.head{
  .subheading{
      color: $oren;
      font-size: 22px;
      font-weight: normal;
      margin-bottom: 8px;
  }
  .heading{
      color: white;
      font-size: 70px;
      line-height: 80px;
  }
}