.about-content{
    display: flex;
    flex-wrap: wrap;
    .head{
        display: inline-block;
        .subheading{
            font-size: 32px;
            font-weight: bold;
        }
    }
    .paragraph{
        flex-basis: 75%;
        margin: 0;
    }
    p{
        padding: 0 20px;
    }
}